HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
config/OAuthGG.json

usecase.txt
database_sqlserver.sql
guide*.md
implementation_plan*
src/main/resources/ssl/
src/main/resources/templates/index.html
37_2023601573_NguyenCongManh.docx
37_2023601573_NguyenCongManh.pdf
prompt_microservice_travelbooking.txt
PROMPT_OLD.txt
seed_data.sql
.agent/
tourbookingdb_dump.sql
docs/
blue.exe